* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  height: 100vh;
  padding: 50px;
  max-width: 500px;
  background-color: #faf9f9;
  text-align: center;
}

.header {
  color: #faf9f9;
  font-size: 18px;
  background-color: #e07a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  }

  form {
    margin: 1.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: red;
      margin-right: auto;
      padding-left: 20px;
    }
  }
  input {
    padding: 15px;
    border: 1px lightgray solid;
    border-radius: 10px;
    width: 375px;
    margin: 7px;
  }

  .btn {
    padding: 15px;
    border: 1px lightgray solid;
    border-radius: 10px;
    width: 375px;
    margin: 7px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .02rem;
    margin-top: 30px;
    background-color: #00a8e8;
    color: #faf9f9;
    cursor: pointer;
  }

  .form-success {
    font-size: 20px;
    text-align: center;
  }

  a {
   font-weight: bold;
   font-size: 1.2rem;
  }
  .form-content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-top: 1rem;
  }
  .logout {
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 1rem auto;
    cursor: pointer;
  }